# Summary Statistics 
2023-08-08 ZD  

This notebook will explore options to gather summary statistics and other reporting data calculated from data within processed grants data.

In [1]:
import pandas as pd

# Method to import from parent directory
import os
import sys
root_dir = os.path.abspath(os.path.join(os.getcwd(), "../"))
sys.path.append(root_dir)

import config

In [2]:
# Define directory containing processed grant data
processed_dir = '../'+config.PROCESSED_DIR

In [3]:
# Make empty list to fill with dataframes
df_list = []

# Load each file as a dataframe
for filename in os.listdir(processed_dir):
    if filename.endswith(".tsv"):
        filepath = os.path.join(processed_dir, filename)
        df_temp = pd.read_csv(filepath, sep='\t')

        # Add program column with filename
        df_temp['program'] = filename

        # Add dataframe to list
        df_list.append(df_temp)

# Combine all dataframes
df = pd.concat(df_list, ignore_index=True)

In [4]:
# Check fiscal years of all grants
df['fiscal_year'].value_counts().reset_index().sort_values(by='index')

    index  fiscal_year
23   2000            1
22   2001            2
19   2002            3
18   2003            3
17   2004            3
12   2005            6
21   2006            2
15   2007            5
20   2008            2
14   2009            5
16   2010            4
13   2011            6
11   2012            7
10   2013            7
9    2014           10
8    2015           11
7    2016           36
6    2017           44
5    2018           53
4    2019           57
3    2020           61
2    2021          697
1    2022         1250
0    2023         1380

In [5]:
df[df['fiscal_year'] < 2000]

Empty DataFrame
Columns: [project_num, core_project_num, appl_id, fiscal_year, project_title, abstract_text, pref_terms, org_name, org_city, org_state, org_country, principal_investigators, program_officers, award_amount, agency_ic_fundings, award_notice_date, project_start_date, project_end_date, full_foa, api_source_search, program]
Index: []

[0 rows x 21 columns]

In [6]:
df.columns.tolist()

['project_num',
 'core_project_num',
 'appl_id',
 'fiscal_year',
 'project_title',
 'abstract_text',
 'pref_terms',
 'org_name',
 'org_city',
 'org_state',
 'org_country',
 'principal_investigators',
 'program_officers',
 'award_amount',
 'agency_ic_fundings',
 'award_notice_date',
 'project_start_date',
 'project_end_date',
 'full_foa',
 'api_source_search',
 'program']

In [7]:
df.groupby('program')['core_project_num'].nunique().reset_index()

                                              program  core_project_num
0   ADMIRALStudyAdmixtureanalysisofacutelymphoblas...                 1
1        AcquiredResistancetoTherapyNetworkARTNet.tsv                 6
2                                         AllofUs.tsv              1837
3   BarrettsEsophagusTranslationalResearchNetworkB...                 4
4                            BrainTumorSPOREGrant.tsv                 1
5        CANCERIMMUNEMONITORINGANDANALYSISCENTERS.tsv                 4
6   CancerPreventionInterceptionTargetedAgentDisco...                 2
7            CellularCancerBiologyImagingResearch.tsv                 4
8     FredHutchinsonCancerResearchCenterLungSPORE.tsv                 1
9     FusionOncoproteinsinChildhoodCancersFusOnc2.tsv                 9
10                SPORETargetedTherapiesforGlioma.tsv                 1
11                           SPOREinBladderCancer.tsv                 1
12                     SPOREinMyeloidMalignancies.tsv                 1
13              SmallCellLungCancerSCLCConsortium.tsv                21
14  TheAdjuvantLungCancerEnrichmentMarkerIdentific...                 3
15           TheEarlyDetectionResearchNetworkEDRN.tsv                32
16  TheMemorialSloanKetteringCancerCenterSPOREinLe...                 1
17  TheUniversityofTexasMDAndersonCancerCenterSPOR...                 1
18  VanderbiltIngramCancerCenterSPOREinGastrointes...                 1
19  YaleSPOREinLungCancerYSILCTheBiologyandPersona...                 1

In [8]:
df.groupby('program')['project_num'].nunique().reset_index()

                                              program  project_num
0   ADMIRALStudyAdmixtureanalysisofacutelymphoblas...            4
1        AcquiredResistancetoTherapyNetworkARTNet.tsv            6
2                                         AllofUs.tsv         3128
3   BarrettsEsophagusTranslationalResearchNetworkB...           40
4                            BrainTumorSPOREGrant.tsv           26
5        CANCERIMMUNEMONITORINGANDANALYSISCENTERS.tsv            6
6   CancerPreventionInterceptionTargetedAgentDisco...            2
7            CellularCancerBiologyImagingResearch.tsv            8
8     FredHutchinsonCancerResearchCenterLungSPORE.tsv            6
9     FusionOncoproteinsinChildhoodCancersFusOnc2.tsv           16
10                SPORETargetedTherapiesforGlioma.tsv           13
11                           SPOREinBladderCancer.tsv            5
12                     SPOREinMyeloidMalignancies.tsv            6
13              SmallCellLungCancerSCLCConsortium.tsv           93
14  TheAdjuvantLungCancerEnrichmentMarkerIdentific...           69
15           TheEarlyDetectionResearchNetworkEDRN.tsv          147
16  TheMemorialSloanKetteringCancerCenterSPOREinLe...            3
17  TheUniversityofTexasMDAndersonCancerCenterSPOR...            4
18  VanderbiltIngramCancerCenterSPOREinGastrointes...            5
19  YaleSPOREinLungCancerYSILCTheBiologyandPersona...           10

In [9]:
import datetime

In [10]:
current_year = datetime.datetime.now().year

In [11]:
current_year

2023

In [12]:
fiscal_years = [str(year) for year in range(2000, current_year+1)]

In [13]:
fiscal_years

['2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023']

In [14]:
df.describe()

            appl_id  fiscal_year  award_amount  agency_ic_fundings
count  3.655000e+03  3655.000000  3.655000e+03        3.655000e+03
mean   1.038773e+07  2021.671956  6.181498e+05        6.075114e+05
std    4.698354e+05     2.259909  1.069417e+06        1.069447e+06
min    6.172074e+06  2000.000000  1.000000e+00        0.000000e+00
25%    1.036189e+07  2021.000000  3.637130e+05        3.614730e+05
50%    1.049694e+07  2022.000000  4.577240e+05        4.558530e+05
75%    1.061696e+07  2023.000000  5.960980e+05        5.933345e+05
max    1.088149e+07  2023.000000  1.355998e+07        1.355998e+07